a:hover{
	background-color: #aa0000;
}

#colorSelector {
position: relative;
width: 36px;
height: 36px;
background: url(../images/select.png);
}

.delBtn{
	color: #ff0000;
}

canvas{
	display:block;
	position:absolute;
}

#rectangle_btn .activated{
	border:#FF0000;
}
