a:hover{
	background-color: #aa0000;
}

#colorSelector {
position: relative;
width: 36px;
height: 36px;
background: url(../images/select.png);
}

.delBtn{
	color: #ff0000;
}

canvas{
	display:block;
	position:absolute;
}

.active {
   padding:1px;
   border:1px solid #021a40;
}

.closablePopup { 
    /*display:none;*/ /* Hide the DIV */
    position:fixed;  
    height:300px;  
    width:600px;  
    background:#FFFFFF;  
    left: 300px;
    top: 150px;
    z-index:500000; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
    
    /* additional features, can be omitted */
    border:2px solid #ff0000;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;
    
}

.popupClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}
